doc/wadl/totsy.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="totsy_wadl_doc-2006-10.xsl" ?>
<application xmlns="http://research.sun.com/wadl/2006/10" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <doc title="Totsy REST API Specification">
    Last Modified: <time datetime="2012-06-25">Jun 25, 2012</time><br/>
    Author: <a href="mailto:tbhuvanendran@totsy.com">Tharsan Bhuvanendran &lt;tbhuvanendran@totsy.com&gt;</a>
  </doc>

  <resources base="https://api.totsy.com/">

    <!-- Resource: Event -->
    <resource path="event">
      <doc title="Event">
        An Event is a time-limited sale of zero or more Product items.
      </doc>

      <method name="GET">
        <doc title="Retrieve All Events">
          Retrieve a collection of all active/current Event instances.
        </doc>

        <request>
          <param name="when" style="query" type="xsd:string" default="current,upcoming" repeating="true">
            <doc title="When">A comma-separated list of time period names to filter events on.</doc>
            <option value="past" />
            <option value="current" />
            <option value="upcoming" />
          </param>
        </request>

        <response status="200">
          <representation mediaType="application/json">
            <doc title="Event Collection">
              <pre>
[
    {
        "name": "Event01",
        "description": "The Smocked Boutique by Candlyand Kids offers a collection of hand embroidered dresses",
        "short_description": "The Smocked Boutique by Candlyand",
        "discount_pct": 50,
        "department": [
            "accessories"
        ],
        "age": [
            "0_6m",
            "6_24m",
            "1_3y",
            "3_4y",
            "5_up"
        ],
        "start": "2012-02-29 02:28:00",
        "end": "2012-03-30 03:28:00",
        "image": {
            "small": "http://www.totsy.com/media/catalog/category/HP2.0Logo_2.png",
            "thumbnail": "http://www.totsy.com/media/catalog/category/HP2.0Logo_3.png",
            "logo": "http://www.totsy.com/media/catalog/category/HP2.0Logo_4.png"
        },
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/event/3"
            },
            {
                "rel": "http://rel.totsy.com/collection/product",
                "href": "https://api.totsy.com/event/3/product"
            }
        ]
    },
    {
        "name": "Event02",
        "description": "You and your girl can amp up your accessory collections with fun and stretchy LED watches by Popochos. Featuring their signature oblong LED screen, these cool digital timepieces will match any outfit, with easy snap-on covers that change your look in an instant. Choose from a wide range of covers with animal prints for the wild child of the family, or luscious lips for the sweet and sassy!",
        "short_description": "Stretchy LED watches by Popochos",
        "discount_pct": 50,
        "department": [],
        "age": [
            "0_6m",
            "6_24m",
            "1_3y"
        ],
        "start": "2012-02-29 08:50:00",
        "end": "2012-03-30 19:50:00",
        "image": {
            "default": "http://www.totsy.com/media/catalog/category/HP2.0Logo_3_1.png",
            "small": "http://www.totsy.com/media/catalog/category/HP2.0Logo_2.png",
            "thumbnail": "http://www.totsy.com/media/catalog/category/HP2.0Logo.png",
            "logo": "http://www.totsy.com/media/catalog/category/HP2.0Logo_4.png"
        },
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/event/4"
            },
            {
                "rel": "http://rel.totsy.com/collection/product",
                "href": "https://api.totsy.com/event/4/product"
            }
        ]
    },
    {
        "name": "Event03",
        "description": "Remain chic, confident and ready for anything with Perry Mackin bags.  Stylishly structured for carry-all convenience that any haute mama will appreciate, this selection of diaper bags boasts plenty of pockets, easy accessibility and water-resistant construction. They're the ideal complement to your busy lifestyle without sacrificing fashion.",
        "short_description": "Perry Mackin bags",
        "discount_pct": 50,
        "department": [],
        "age": [],
        "start": "2012-03-06 11:50:00",
        "end": "2012-03-31 11:36:00",
        "image": {
            "default": "http://www.totsy.com/media/catalog/category/HP2.0Logo_2.png",
            "small": "http://www.totsy.com/media/catalog/category/HP2.0Logo_2.png",
            "thumbnail": "http://www.totsy.com/media/catalog/category/Lotus_Nelumbo_Small.jpg",
            "logo": "http://www.totsy.com/media/catalog/category/HP2.0Logo_4.png"
        },
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/event/5"
            },
            {
                "rel": "http://rel.totsy.com/collection/product",
                "href": "https://api.totsy.com/event/5/product"
            }
        ]
    }
]
              </pre>
            </doc>
          </representation>
        </response>
      </method>

      <resource path="{event_id}">
        <doc title="Event Entity">A single sale Event instance.</doc>
        <param name="event_id" style="template" type="xsd:string">
          <doc>The unique Event identifier.</doc>
        </param>

        <method name="GET">
          <request>
          </request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Event Entity">
                <pre>
{
    "name": "Event02",
    "description": "You and your girl can amp up your accessory collections with fun and stretchy LED watches by Popochos. Featuring their signature oblong LED screen, these cool digital timepieces will match any outfit, with easy snap-on covers that change your look in an instant. Choose from a wide range of covers with animal prints for the wild child of the family, or luscious lips for the sweet and sassy!",
    "short_description": "Stretchy LED watches by Popochos",
    "discount_pct": 50,
    "department": [],
    "age": [
        "0_6m",
        "6_24m",
        "1_3y"
    ],
    "start": "2012-02-29 08:50:00",
    "end": "2012-03-30 19:50:00",
    "image": {
        "default": "http://www.totsy.com/media/catalog/category/HP2.0Logo_3_1.png",
        "small": "http://www.totsy.com/media/catalog/category/HP2.0Logo_2.png",
        "thumbnail": "http://www.totsy.com/media/catalog/category/HP2.0Logo.png",
        "logo": "http://www.totsy.com/media/catalog/category/HP2.0Logo_4.png"
    },
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/event/4"
        },
        {
            "rel": "http://rel.totsy.com/collection/product",
            "href": "https://api.totsy.com/event/4/product"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>

        <resource path="product">
          <doc title="Event Product Collection">Products that are part of an Event.</doc>

            <method name="GET">
            <request>
            </request>
            <response status="200">
              <representation mediaType="application/json">
                <doc title="Product Collection">
                  <pre>
[
    {
        "name": "Winter Stroller Cover Blue",
        "description": "The product short description",
        "short_description": "The product short description",
        "shipping_returns": "...",
        "department": [],
        "age": [
            "0_6m",
            "6_24m",
            "1_3y",
            "3_4y",
            "5_up"
        ],
        "attributes": {
            "Size": [
                "0-3M",
                "0-6M"
            ],
            "Color": [
                "Green"
            ]
        },
        "vendor_style": "dotcom",
        "sku": "SKU-33400-24",
        "weight": "1.0000",
        "price": {
            "price": "10.0000",
            "orig": null,
            "msrp": null
        },
        "hot": false,
        "featured": false,
        "image": [
            "http://www.totsy.com/media/catalog/product/w/i/winter-stroller-cover-blue.jpg"
        ],
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/product/1097"
            },
            {
                "rel": "http://rel.totsy.com/entity/event",
                "href": "https://api.totsy.com/event/42"
            }
        ]
    },
    {
        "name": "Blue Umbrella Blowout",
        "description": "The product long description",
        "short_description": "The product short description",
        "shipping_returns": "...",
        "department": [
            "girls",
            "accessories"
        ],
        "age": [
            "0_6m",
            "6_24m",
            "1_3y",
            "3_4y",
            "5_up"
        ],
        "attributes": {
            "Size": [
                "0-3M",
                "0-6M"
            ],
            "Color": [
                "Green"
            ]
        },
        "vendor_style": "dotcom",
        "sku": "SKU-334-2423501",
        "weight": "1.0000",
        "price": {
            "price": "10.0000",
            "orig": "12.0000",
            "msrp": "15.0000"
        },
        "hot": false,
        "featured": false,
        "image": [
            "http://www.totsy.com/media/catalog/product/m/e/medium_1.gif",
            "http://www.totsy.com/media/catalog/product/t/h/thumbnail_1.gif",
            "http://www.totsy.com/media/catalog/product/s/m/small_1.gif",
            "http://www.totsy.com/media/catalog/product/l/a/large_1.gif"
        ],
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/product/1098"
            },
            {
                "rel": "http://rel.totsy.com/entity/event",
                "href": "https://api.totsy.com/event/42"
            }
        ]
    },
    {
        "name": "Open Ultra Fold",
        "description": "The product short description",
        "short_description": "The product short description",
        "shipping_returns": "...",
        "department": [],
        "age": [
            "0_6m",
            "6_24m",
            "1_3y",
            "3_4y",
            "5_up"
        ],
        "attributes": {
            "Size": [
                "0-3M",
                "0-6M"
            ],
            "Color": [
                "Green"
            ]
        },
        "vendor_style": null,
        "sku": "SKU-33544-4324",
        "weight": "1.0000",
        "price": {
            "price": "10.0000",
            "orig": null,
            "msrp": null
        },
        "hot": false,
        "featured": false,
        "image": [
            "http://www.totsy.com/media/catalog/product/o/p/open-ultra-fold-lady-umbrella-with-hard-case.jpg"
        ],
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/product/1099"
            },
            {
                "rel": "http://rel.totsy.com/entity/event",
                "href": "https://api.totsy.com/event/42"
            }
        ]
    }
]
                  </pre>
                </doc>
              </representation>
            </response>
          </method>
        </resource>
      </resource>
    </resource>

    <!-- Resource: Product -->
    <resource path="product">
      <doc title="Product">
        A Product is a single item that is available for sale.
      </doc>

      <resource path="{product_id}">
        <doc title="Product Entity">A single Product instance.</doc>
        <param name="product_id" style="template" type="xsd:string">
          <doc>The unique Product identifier.</doc>
        </param>

        <method name="GET">
          <request>
          </request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Product Entity">
                <pre>
{
    "name": "Blue Umbrella Blowout",
    "description": "The product long description",
    "short_description": "The product short description",
    "shipping_returns": "...",
    "department": [
        "girls",
        "accessories"
    ],
    "age": [
        "0_6m",
        "6_24m",
        "1_3y",
        "3_4y",
        "5_up"
    ],
    "attributes": {
        "Size": [
            "0-3M",
            "0-6M"
        ],
        "Color": [
            "Green"
        ]
    },
    "vendor_style": "dotcom",
    "sku": "SKU-334-2423501",
    "weight": "1.0000",
    "price": {
        "price": "10.0000",
        "orig": "12.0000",
        "msrp": "15.0000"
    },
    "hot": false,
    "featured": false,
    "image": [
        "http://www.totsy.com/media/catalog/product/m/e/medium_1.gif",
        "http://www.totsy.com/media/catalog/product/t/h/thumbnail_1.gif",
        "http://www.totsy.com/media/catalog/product/s/m/small_1.gif",
        "http://www.totsy.com/media/catalog/product/l/a/large_1.gif"
    ],
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/product/1098"
        },
        {
            "rel": "http://rel.totsy.com/entity/event",
            "href": "https://api.totsy.com/event/42"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>

        <resource path="quantity">
          <doc title="Product Quantity">
            The available quantity of a single product.
          </doc>

          <method name="GET">
            <request>
            </request>
            <response>
              <representation mediaType="application/json">
                <doc title="Product Quantity">
                  <pre>
{
    "quantity": 10
}
                  </pre>
                </doc>
              </representation>
            </response>
          </method>
        </resource>
      </resource>
    </resource>

    <!-- Resource: User Authorization -->
    <resource path="auth">
      <doc title="User Authorization">
        A user authorization is the analog to logging into the system on behalf
        of an existing system User in order to perform sensitive operations on
        their behalf.
      </doc>

      <method name="POST">
        <doc title="Login">
          Login to the system on behalf of an existing system User.
          Upon successful login, an HTTP cookie will be supplied in the response
          to allow further requests on behalf of the logged-in user.
        </doc>
        <request>
          <representation mediaType="application/json">
            <doc title="Login Request">
              <pre>
{
    "email": "...",
    "password": "..."
}
              </pre>
            </doc>
          </representation>
        </request>

        <response status="200">
          <representation mediaType="application/json">
            <doc title="User Authorization Entity">
              <pre>
{
    "links": [
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/35235235"
        }
    ]
}
              </pre>
            </doc>
          </representation>
        </response>
        <response status="403">
          <doc title="Authorization Denied: Invalid credentials provided." />
        </response>
      </method>

      <method name="DELETE">
        <doc title="Logout">
          Destroy an existing user session and log the system User out of the system.
        </doc>
        <request></request>
        <response status="200"></response>
      </method>
    </resource>

    <!-- Resource: User -->
    <resource path="user">
      <doc title="User">
        A system User represents an account that enables the holder to perform
        certain activities, including purchasing Products.
      </doc>

      <method name="POST">
        <doc title="Create New User">
            Add a new User to the system.
            NOTE: The <code>credit</code> property will be ignored when creating or updating users.
        </doc>

        <request>
          <representation mediaType="application/json">
            <doc title="Partial User Entity">
              <pre>
{
    "email": "tbhuvanendran@totsy.com",
    "firstname": "Tharsan",
    "lastname": "Bhuvanendran",
    "password": "123456789",
    "confirmation": "123456789"
}
              </pre>
            </doc>
          </representation>
        </request>
        <response status="201">
          <representation mediaType="application/json">
            <doc title="Full User Entity">
              <pre>
{
    "email": "tbhuvanendran@totsy.com",
    "firstname": "Tharsan",
    "lastname": "Bhuvanendran",
    "credit": 0,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/user/1139"
        },
        {
            "rel": "http://rel.totsy.com/collection/address",
            "href": "https://api.totsy.com/user/1139/address"
        },
        {
            "rel": "http://rel.totsy.com/collection/order",
            "href": "https://api.totsy.com/user/1139/order"
        },
        {
            "rel": "http://rel.totsy.com/collection/creditcard",
            "href": "https://api.totsy.com/user/1139/creditcard"
        }
    ]
}
              </pre>
            </doc>
          </representation>
        </response>
      </method>

      <resource path="{user_id}">
        <doc title="User Entity">A single system User instance.</doc>
        <param name="user_id" style="template" type="xsd:string">
          <doc>The unique User identifier.</doc>
        </param>

        <param name="Cookie" type="xsd:string" style="header" required="true">
          <doc title="User Authorization Token">
            The HTTP cookie provided by the server when logging a system User
            into the system.
          </doc>
        </param>

        <method name="GET">
          <doc title="Retrieve User">
            Retrieve a single User entity.
          </doc>
          <request>
          </request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full User Entity">
                <pre>
{
    "email": "tbhuvanendran+hara@totsy.com",
    "firstname": "Tharsan",
    "lastname": "Bhuvanendran",
    "credit": 50,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/user/1139"
        },
        {
            "rel": "http://rel.totsy.com/collection/address",
            "href": "https://api.totsy.com/user/1139/address"
        },
        {
            "rel": "http://rel.totsy.com/collection/order",
            "href": "https://api.totsy.com/user/1139/order"
        },
        {
            "rel": "http://rel.totsy.com/collection/creditcard",
            "href": "https://api.totsy.com/user/1139/creditcard"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>

        <method name="PUT">
          <doc title="Update User">
            Update the record of an existing system User.
            NOTE: The <code>credit</code> property will be ignored when creating or updating users.
          </doc>

          <request>
            <representation mediaType="application/json">
              <doc title="Partial User Entity">
                <pre>
{
    "email": "tbhuvanendran@totsy.com",
    "firstname": "Tharsan",
    "lastname": "Bhuvanendran",
    "password": "monkeywrench",
    "confirmation": "monkeywrench"
}
                </pre>
              </doc>
            </representation>
          </request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full User Entity">
                <pre>
{
    "email": "tbhuvanendran@totsy.com",
    "firstname": "Tharsan",
    "lastname": "Bhuvanendran",
    "credit": 0,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/user/1139"
        },
        {
            "rel": "http://rel.totsy.com/collection/address",
            "href": "https://api.totsy.com/user/1139/address"
        },
        {
            "rel": "http://rel.totsy.com/collection/order",
            "href": "https://api.totsy.com/user/1139/order"
        },
        {
            "rel": "http://rel.totsy.com/collection/creditcard",
            "href": "https://api.totsy.com/user/1139/creditcard"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>

        <method name="DELETE">
          <doc title="Delete User">Remove the record of an existing system User.</doc>
          <request></request>
          <response status="200"></response>
        </method>

        <resource path="address">
          <doc title="User Addresses">
            The collection of all Address instances associated with a system User.
          </doc>

          <method name="GET">
            <doc title="Retrieve User Addresses">
              Retrieve all Addresses associated with a system User.
            </doc>
            <request>
            </request>
            <response status="200">
              <representation mediaType="application/json">
                <doc title="Address Collection">
                  <pre>
[
    {
        "firstname": "Test First 2",
        "lastname": "Test Last 2",
        "company": null,
        "street": "829 New Address Blvd",
        "city": "Alison",
        "state": "Arkansas",
        "zip": "12224",
        "country": "US",
        "telephone": "2892232894",
        "fax": null,
        "default_billing": true,
        "default_shipping": false,
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/address/1262"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/1139"
            }
        ]
    },
    {
        "firstname": "Test First 2",
        "lastname": "Test Last 2",
        "company": null,
        "street": "829 New Address Blvd",
        "city": "Alison",
        "state": "Arizona",
        "zip": "12224",
        "country": "US",
        "telephone": "2892232894",
        "fax": null,
        "default_billing": false,
        "default_shipping": true,
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/address/1263"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/1139"
            }
        ]
    }
]
                  </pre>
                </doc>
              </representation>
            </response>
          </method>

          <method name="POST">
            <doc title="Add New User Address">
              Add a new Address to an existing system User.
           </doc>

            <request>
              <representation mediaType="application/json">
                <doc title="Partial Address Entity">
                  <pre>
{
    "firstname": "Maya",
    "lastname": "Troublestone",
    "company": null,
    "street": "482 5th Ave.",
    "city": "New York",
    "state": "New York",
    "zip": "10078",
    "country": "US",
    "telephone": "2128482766",
    "fax": null,
    "default_billing": false,
    "default_shipping": true
}
                  </pre>
                </doc>
              </representation>
            </request>
            <response status="201">
              <representation mediaType="application/json">
                <doc title="Full Address Entity">
                  <pre>
{
    "firstname": "Maya",
    "lastname": "Troublestone",
    "company": null,
    "street": "482 5th Ave.",
    "city": "New York",
    "state": "New York",
    "zip": "10078",
    "country": "US",
    "telephone": "2128482766",
    "fax": null,
    "default_billing": false,
    "default_shipping": true,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/address/1244"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/1153"
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </response>
          </method>
        </resource>

        <resource path="order">
          <doc title="User Orders">
            The collection of all orders that a user has ever placed.
          </doc>

          <method name="GET">
            <doc title="Retrieve User Orders">
              Retrieve the collection of all orders that a user has ever placed.
            </doc>
            <response status="200">
              <representation mediaType="application/json">
                <doc title="Order Collection">
                  <pre>
[
    {
        "status": "pending",
        "created": "2012-03-28 21:21:39",
        "updated": "2012-03-28 21:21:39",
        "coupon_code": null,
        "total_qty": "1.0000",
        "total_weight": "1.0000",
        "shipping": "0.0000",
        "tax": "0.8000",
        "discount": "0.0000",
        "subtotal": "10.0000",
        "total": "0.0000",
        "products": [
            {
                "name": "Stripe Sling Stripe",
                "price": "10.0000",
                "qty": "1.0000",
                "weight": "1.0000",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/product",
                        "href": "https://api.totsy.com/product/392"
                    }
                ]
            }
        ],
        "payment": {
            "credits_used": 11,
            "creditcard_type": "VI",
            "creditcard_last4": "1111",
            "creditcard_exp_month": "1",
            "creditcard_exp_year": "2015"
        },
        "addresses": [
            {
                "type": "billing",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/address",
                        "href": "https://api.totsy.com/address/443"
                    }
                ]
            },
            {
                "type": "shipping",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/address",
                        "href": "https://api.totsy.com/address/444"
                    }
                ]
            }
        ],
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/order/222"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/1139"
            }
        ]
    },
    {
        "status": "pending",
        "created": "2012-03-27 16:07:25",
        "updated": "2012-03-27 16:07:27",
        "coupon_code": null,
        "total_qty": "1.0000",
        "total_weight": "2.0000",
        "shipping": "0.0000",
        "tax": "1.6000",
        "discount": "0.0000",
        "subtotal": "18.0000",
        "total": "19.6000",
        "products": [
            {
                "name": "Bullfinches Long Sleeve Ruched Neck Tee Light Blue",
                "price": "18.0000",
                "qty": "1.0000",
                "weight": "2.0000",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/product",
                        "href": "https://api.totsy.com/product/383"
                    }
                ]
            }
        ],
        "payment": {
            "credits_used": 0,
            "creditcard_type": "VI",
            "creditcard_last4": "1111",
            "creditcard_exp_month": "6",
            "creditcard_exp_year": "2016"
        },
        "addresses": [
            {
                "type": "billing",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/address",
                        "href": "https://api.totsy.com/address/429"
                    }
                ]
            },
            {
                "type": "shipping",
                "links": [
                    {
                        "rel": "http://rel.totsy.com/entity/address",
                        "href": "https://api.totsy.com/address/430"
                    }
                ]
            }
        ],
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/order/215"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/1139"
            }
        ]
    }
]
                  </pre>
                </doc>
              </representation>
            </response>
          </method>

          <method name="POST">
            <doc title="Add New Order">
              Submit a new Order for this user. An order is intially created
              with one or more product items, and is assigned an expiration date.
              Then an order can be continually updated with more items, which
              updates the expiration date. Once the expiration date passes,
              the incomplete order is destroyed and will cease to exist.<br/>
              Finally, once both payment and addresses information is submitted,
              the order is considered complete, at which point is no longer
              contains an expiry date.
            </doc>

            <request>
              <representation mediaType="application/json">
                <doc title="Partial Order Entity">
                  <pre>
{
    "coupon_code": "DISCOUNT",
    "products": [
        {
            "qty": 5,
            "attributes": {
                "Size": "0-3M",
                "Color": "Green"
            },
            "links": [
                {
                    "href": "https://api.totsy.com/product/392",
                    "rel": "http://rel.totsy.com/entity/product"
                }
            ]
        },
        {
            "qty": 2,
            "attributes": {
                "Size": "0-3M",
                "Color": "Green"
            },
            "links": [
                {
                    "href": "https://api.totsy.com/product/1098",
                    "rel": "http://rel.totsy.com/entity/product"
                }
            ]
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </request>
            <response status="202">
              <doc>The order items have been accepted the order is pending.</doc>
              <representation mediaType="application/json">
                <doc title="Full Order Entity (Pending)">
                  <pre>
{
    "expires": "2012-04-02T00:26:54+00:00",
    "subtotal": 72.5,
    "coupon_code": "DISCOUNT",
    "products": [
        {
            "name": "Giggle Giggle Quack",
            "price": "10.5000",
            "qty": 5,
            "attributes": {
                "Size": "0-3M",
                "Color": "Green"
            },
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/product",
                    "href": "https://api.totsy.com/product/392"
                }
            ]
        },
        {
            "name": "Blue Umbrella Blowout",
            "price": "10.0000",
            "qty": 2,
            "attributes": {
                "Size": "0-3M",
                "Color": "Green"
            },
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/product",
                    "href": "https://api.totsy.com/product/1098"
                }
            ]
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </response>
            <response status="201">
              <doc>The order is complete and will enter fulfillment.</doc>
              <representation mediaType="application/json">
                <doc title="Full Order Entity (Placed)">
                  <pre>

{
    "status": "pending",
    "created": "2012-03-27 16:07:25",
    "updated": "2012-03-27 16:07:27",
    "coupon_code": null,
    "total_qty": "1.0000",
    "total_weight": "2.0000",
    "shipping": "0.0000",
    "tax": "1.6000",
    "discount": "0.0000",
    "subtotal": "18.0000",
    "total": "19.6000",
    "products": [
        {
            "name": "Bullfinches Long Sleeve Ruched Neck Tee Light Blue",
            "price": "18.0000",
            "qty": "1.0000",
            "weight": "2.0000",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/product",
                    "href": "https://api.totsy.com/product/383"
                }
            ]
        }
    ],
    "payment": {
        "credits_used": 0,
        "creditcard_type": "VI",
        "creditcard_last4": "1111",
        "creditcard_exp_month": "6",
        "creditcard_exp_year": "2016"
    },
    "addresses": [
        {
            "type": "billing",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/address",
                    "href": "https://api.totsy.com/address/429"
                }
            ]
        },
        {
            "type": "shipping",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/address",
                    "href": "https://api.totsy.com/address/430"
                }
            ]
        }
    ],
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/order/215"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/1131"
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </response>
            <response status="409">
              <doc>
                When attempting to update a temporary Order, there is
                insufficient stock quantity available to fulfill the order.
              </doc>
            </response>
          </method>
        </resource>

        <resource path="creditcard">
          <doc title="User Credit Cards">
            The collection of all Credit Cards saved for a system User.
          </doc>

          <method name="GET">
            <doc title="Retrieve User Credit Cards">
              Retrieve a collection of all user Credit Cards.
            </doc>
            <request>
            </request>
            <response status="200">
              <representation mediaType="application/json">
                <doc title="Credit Card Collection">
                  <pre>
[
    {
        "type": "VI",
        "cc_last4": "1111",
        "cc_exp_year": "2014",
        "cc_exp_month": "5",
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/creditcard/23514543"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/4944189"
            }
        ]
    },
    {
        "type": "MC",
        "cc_last4": "4444",
        "cc_exp_year": "2015",
        "cc_exp_month": "1",
        "links": [
            {
                "rel": "self",
                "href": "https://api.totsy.com/creditcard/232352"
            },
            {
                "rel": "http://rel.totsy.com/entity/user",
                "href": "https://api.totsy.com/user/4944189"
            }
        ]
    }
]
                  </pre>
                </doc>
              </representation>
            </response>
          </method>

          <method name="POST">
            <doc title="Create New User Credit Card">
              Add a new User Credit Card to the system.
            </doc>
            <request>
              <representation mediaType="application/json">
                <doc title="Partial Credit Card Entity">
                  <pre>
{
    "type": "VI",
    "cc_number": "4111111111111111",
    "cc_exp_month": 5,
    "cc_exp_year": 2014,
    "address": {
        "firstname": "Rich",
        "lastname": "Minns",
        "company": "Totsy",
        "street": "10 W 18th St.",
        "city": "New York",
        "state": "New York",
        "zip": "10010",
        "country": "US",
        "telephone": "2128482766",
        "fax": null
    },
    "links": [
        {
            "rel": "http://rel.totsy.com/rel/address",
            "href": "https://api.totsy.com/address/364674"
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </request>
            <response status="201">
              <representation mediaType="application/json">
                <doc title="Full Credit Card Entity">
                  <pre>
{
    "type": "MC",
    "cc_last4": "4444",
    "cc_exp_year": "2015",
    "cc_exp_month": "1",
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/creditcard/23445"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/4944189"
        }
    ]
}
                  </pre>
                </doc>
              </representation>
            </response>
          </method>
        </resource>
      </resource>
    </resource>

    <!-- Resource: Address -->
    <resource path="address">
      <doc title="Address">
        An Address represents a physical real-world location that is used to
        ship products to, or as a billing address.
      </doc>

      <param name="auth_token" type="xsd:string" style="query" required="true">
        <doc title="User Authorization Token">
          The authorization token granted to the client to perform sensitive
          operations on behalf of a User.
        </doc>
      </param>

      <resource path="{address_id}">
        <doc title="Address Entity" />
        <param name="address_id" style="template" type="xsd:string">
          <doc>The unique address identifier.</doc>
        </param>

        <method name="DELETE">
          <doc title="Delete Address">Delete an existing Address.</doc>
          <request></request>
          <response></response>
        </method>

        <method name="GET">
          <doc title="Retrieve Address">Retrieve a single Address instance.</doc>
          <request></request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Address Entity">
                <pre>
{
    "firstname": "Stephen",
    "lastname": "Hawking",
    "company": "Fake Enterprise",
    "street": "123 Fake Street\nApt. 108",
    "city": "Springfield",
    "state": "Ohio",
    "zip": "12345",
    "country": "US",
    "telephone": "2121234539",
    "fax": "2129973472",
    "default_billing": false,
    "default_shipping": false,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/address/1243"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/1153"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>
  
        <method name="PUT">
          <doc title="Update Address">Update the record of an existing Address instance.</doc>
          <request>
            <representation mediaType="application/json">
              <doc title="Partial Address Entity">
                <pre>
{
    "firstname": "Stephen",
    "lastname": "Hawking",
    "company": "Fake Enterprise",
    "street": "123 Fake Street\nApt. 108",
    "city": "Springfield",
    "state": "Ohio",
    "zip": "12345",
    "country": "US",
    "telephone": "2121234539",
    "fax": "2129973472",
    "default_billing": false,
    "default_shipping": false
}
                </pre>
              </doc>
            </representation>
          </request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Address Entity">
                <pre>
{
    "firstname": "Stephen",
    "lastname": "Hawking",
    "company": "Fake Enterprise",
    "street": "123 Fake Street\nApt. 108",
    "city": "Springfield",
    "state": "Ohio",
    "zip": "12345",
    "country": "US",
    "telephone": "2121234539",
    "fax": "2129973472",
    "default_billing": false,
    "default_shipping": false,
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/address/1243"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/1153"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>
      </resource>
    </resource>

    <!-- Resource: Order -->
    <resource path="order">
      <doc title="Order">
        An Order is a collection of Product entities and their corresponding quantities that a User purchases.
      </doc>

      <param name="auth_token" type="xsd:string" style="query" required="true">
        <doc title="User Authorization Token">
          The authorization token granted to the client to perform sensitive
          operations on behalf of a User.
        </doc>
      </param>

      <resource path="{order_id}">
        <doc title="Order Entity">A single Order instance.</doc>
        <param name="order_id" style="template" type="xsd:string">
          <doc>The unique Order identifier.</doc>
        </param>

        <method name="DELETE">
          <doc title="Delete Order">Delete an existing Order.</doc>
          <request></request>
          <response status="200"></response>
        </method>

        <method name="GET">
          <doc title="Retrieve Order Entity">
            Retrieve a single Order entity instance.
          </doc>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Order Entity">
                <pre>
{
    "status": "pending",
    "created": "2012-03-27 16:07:25",
    "updated": "2012-03-27 16:07:27",
    "coupon_code": null,
    "total_qty": "1.0000",
    "total_weight": "2.0000",
    "shipping": "0.0000",
    "tax": "1.6000",
    "discount": "0.0000",
    "subtotal": "18.0000",
    "total": "19.6000",
    "products": [
        {
            "name": "Bullfinches Long Sleeve Ruched Neck Tee Light Blue",
            "price": "18.0000",
            "qty": "1.0000",
            "weight": "2.0000",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/product",
                    "href": "https://api.totsy.com/product/383"
                }
            ]
        }
    ],
    "payment": {
        "credits_used": 0,
        "creditcard_type": "VI",
        "creditcard_last4": "1111",
        "creditcard_exp_month": "6",
        "creditcard_exp_year": "2016"
    },
    "addresses": [
        {
            "type": "billing",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/address",
                    "href": "https://api.totsy.com/address/429"
                }
            ]
        },
        {
            "type": "shipping",
            "links": [
                {
                    "rel": "http://rel.totsy.com/entity/address",
                    "href": "https://api.totsy.com/address/430"
                }
            ]
        }
    ],
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/order/215"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/1131"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>
      </resource>
    </resource>

    <!-- Resource: Credit Card -->
    <resource path="creditcard">
      <doc title="Credit Card">
        A Credit Card represents a payment method whose information is saved by
        the system for the user for future purchases.
      </doc>

      <param name="auth_token" type="xsd:string" style="query" required="true">
        <doc title="User Authorization Token">
          The authorization token granted to the client to perform sensitive
          operations on behalf of a User.
        </doc>
      </param>

      <resource path="{creditcard_id}">
        <doc title="Credit Card Entity">
          A single Credit Card Entity instance.
        </doc>
        <param name="creditcard_id" style="template" type="xsd:string">
          <doc>The unique Credit Card identifier.</doc>
        </param>

        <method name="DELETE">
          <doc title="Delete Credit Card">Delete an existing Credit Card.</doc>
          <request></request>
          <response></response>
        </method>

        <method name="GET">
          <doc title="Retrieve Credit Card Entity">
            Retrieve a single Credit Card Entity instance.
          </doc>
          <request></request>
          <response status="200">
            <representation mediaType="application/json">
              <doc title="Full Credit Card Entity">
                <pre>
{
    "type": "MC",
    "cc_last4": "4444",
    "cc_exp_year": "2015",
    "cc_exp_month": "1",
    "links": [
        {
            "rel": "self",
            "href": "https://api.totsy.com/creditcard/257794"
        },
        {
            "rel": "http://rel.totsy.com/entity/user",
            "href": "https://api.totsy.com/user/4944189"
        }
    ]
}
                </pre>
              </doc>
            </representation>
          </response>
        </method>
      </resource>
    </resource>

    <!-- Parameter: Client Authorization Token -->
    <param name="Authorization" type="xsd:string" style="header" required="true">
      <doc title="Client Authorization Token">
        The authorization token granted to the client application.
      </doc>
    </param>
  </resources>
</application>
